<app-layout title="Карточка сотрудника">
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="form">
      <p-floatlabel variant="on" *ngFor="let field of fields">
        <input type="text" pInputText pSize="large" fluid [formControlName]="field.key" [ngClass]="{'ng-invalid': hasError(field.key)}" />
      </p-floatlabel>

    <div>
      <p-button *ngIf="myForm.enabled" (click)="change()">Сохранить</p-button>
      <p-button *ngIf="myForm.disabled" (click)="change()">Изменить</p-button>
    </div>
  </form>
</app-layout>