<app-layout title="Карточка сотрудника">
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="form">
    <mat-form-field appearance="fill" *ngFor="let field of fields">
      <mat-label>{{field.label}}</mat-label>
      <input matInput [formControlName]="field.key" [placeholder]="field.label" />
      <mat-error *ngIf="hasError(field.key)">
        Поле обязательно для заполнения
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="myForm.invalid">Сохранить</button>
  </form>
</app-layout>