<app-layout title="Список проектов">
  <div class="flex items-start">
    <p-menu *ngIf="projects.length > 0; else elseBlock" [model]="projects">
      <ng-template #item let-item>
        <a [routerLink]="['/project', item.id]" class="p-menu-item-link">
          {{ item.label }}
        </a>
      </ng-template>
    </p-menu>
    <ng-template #elseBlock>Ничего не найдено.</ng-template>

    <a routerLink="/project/add" class="p-button ml-auto">
      Добавить проект
    </a>
  </div>
</app-layout>
