<form [formGroup]="form" novalidate>
  <div class="grid grid-cols-2 gap-4">
    <app-input-text
      *ngFor="let field of fields"
      [key]="field.key"
      [label]="field.label"
      [required]="field.required"
      [error]="hasError(field.key)"
      formControlName="{{field.key}}"
    />
  </div>

  <div class="mt-4">
    <p-button *ngIf="isVisibleSaveBtn()" [disabled]="form.invalid" (click)="onSubmitHandler()">Сохранить</p-button>
    <p-button *ngIf="isViewMode()" (click)="change()">Изменить</p-button>
    <p-button *ngIf="isEditMode()"severity="danger" class="ml-4">Удалить</p-button>
  </div>
</form>
