<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="grid grid-cols-2 gap-4">
    <app-input-text
      *ngFor="let field of fields"
      [key]="field.key"
      [label]="field.label"
      [required]="field.required"
      [error]="hasError(field.key)"
      formControlName="{{field.key}}"
    />
  </div>

  <div class="mt-4">
    <p-button *ngIf="isVisibleSaveBtn()" [disabled]="myForm.invalid" (click)="submit()">Сохранить</p-button>
    <p-button *ngIf="mode === FormMode.View" (click)="change()">Изменить</p-button>
    <p-button *ngIf="mode === FormMode.Edit"severity="danger" class="ml-4">Удалить</p-button>
  </div>
</form>
