<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="grid grid-cols-2 gap-4">
    <ng-container *ngFor="let field of fields">
      <app-input-text
        [key]="field.key"
        [label]="field.label"
        [required]="field.required"
        [error]="hasError(field.key)"
        formControlName="{{field.key}}"
      />
    </ng-container>
  </div>

  <div class="mt-4">
    <p-button *ngIf="isVisibleSaveBtn()" [disabled]="myForm.invalid" (click)="submit()" [loading]="isLoading">Сохранить</p-button>
    <p-button *ngIf="isViewMode()" (click)="change()">Изменить</p-button>
    <p-button *ngIf="isEditMode()" severity="danger" class="ml-4">Удалить</p-button>
  </div>
</form>
